extends layout

block content
    ul.list-group
        each post in posts
            li.list-group-item
                h1 #{post.title}
                small
                    p created: #{post.createdOn}
                p by: #{post.name}
                p #{post.body}
                each id in postID
                    if id.author == user.user_id
                        a.btn.btn-primary.float-left(href='/posts/update/' + id.id) Update
                        a.btn.btn-danger.float-right(href='/posts/delete/' + id.id) Delete
